@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    //Layout = null;

    ViewBag.Title = "Diseno";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Proyecto GetProyecto = Session["sistema.proyecto"] as Proyecto;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}


    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Registro de Parámetros</li>
                    </ol>
                </nav>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="Proy-tab" data-toggle="tab" href="#Proy" role="tab" aria-controls="Proy" aria-selected="true">Parámetros de Diseño</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Cap-tab" data-toggle="tab" href="#Cap" role="tab" aria-controls="Cap" aria-selected="false">Capas de Pavimento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Param-tab" data-toggle="tab" href="#Param" role="tab" aria-controls="Param" aria-selected="false">Coeficientes</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContents">
                    <div class="tab-pane fade show active" id="Proy" role="tabpanel" aria-labelledby="Proy-tab">
                        <form class="form-inline">
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Periodo de Diseño</label>
                                    <input id="txtPeriodoDiseno" data-id="1" type="text" placeholder="Periodo de Diseño" class="column_filter mr-3 col-sm-12 form-control form-control-sm input-number">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Cantidad de ESAL&nbsp;&nbsp;&nbsp;</label>
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#EsalModal"><i class="fa fa-question-circle"></i></button>
                                    <input id="txtCantidadESAL" type="text" placeholder="Cantidad de ESAL" class="mr-3 col-sm-10 form-control form-control-sm input-number">
                                    <button type="button" id="btnCalcularEsal" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Index", "ParamEsal")'"><span class="fa fa-etsy"></span></button>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Confiabilidad (R%)&nbsp;&nbsp;&nbsp;</label>
                                    <button type="button" id="btninfoconfiab" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ConfiabilidadModal"><i class="fa fa-question-circle"></i></button>
                                    <input id="txtConfiab" type="text" placeholder="Confiabilidad (R%)" class="mr-3 col-sm-10 form-control form-control-sm input-number">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Error de Comb.Estándar (SO)</label>
                                    <input id="txtErrorComb" data-id="4" type="text" placeholder="Error de Comb.Estándar (SO)" class="column_filter mr-3 col-sm-12 form-control form-control-sm input-number">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Módulo de Resilencia (Subrasante)&nbsp;&nbsp;&nbsp;</label>
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ResilenciaModal"><i class="fa fa-question-circle"></i></button>
                                    <input id="txtModResilenciaSub" data-id="1" type="text" placeholder="Módulo de Resilencia (Subrasante)" readonly="readonly" class="column_filter mr-3 col-sm-10 form-control form-control-sm">
                                    <button type="button" id="btnEvaluaResilencia" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EvaluaResilenciaModal"><span class="fa fa-cog"></span></button>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Servicialidad Inicial&nbsp;&nbsp;&nbsp;</label>
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ServInicialModal"><i class="fa fa-question-circle"></i></button>
                                    <input id="txtServInicial" type="text" placeholder="Servicialidad Inicial" class="mr-3 col-sm-12 form-control form-control-sm input-number">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Servicialidad Final&nbsp;&nbsp;&nbsp;</label>
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ServFinalModal"><i class="fa fa-question-circle"></i></button>
                                    <input id="txtServFinal" type="text" placeholder="Servicialidad Final" class="mr-3 col-sm-12 form-control form-control-sm input-number">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Diferencia de Servicialidad (∆PSI)&nbsp;&nbsp;&nbsp;</label>
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#DifServModal"><i class="fa fa-question-circle"></i></button>
                                    <input id="txtDifServ" data-id="4" type="text" placeholder="Diferencia de Servicialidad (∆PSI)" readonly="readonly" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Desviación Estándar Normal (ZR)</label>
                                    <input id="txtDesvEstandar" data-id="4" type="text" placeholder="Desviación Estándar Normal (ZR)" readonly="readonly" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                                </div>
                            </div>
                        </form>
                        <div class="card-footer">
                            <div class=" clearfix">
                                <div class="p-0">
                                    <div class="btn-group float-left" role="group" aria-label="Basic example">
                                    </div>
                                </div>
                                <div class="p-0">
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        <button type="button" id="btnSiguiente_c" class="btn btn-primary"><span class="fa fa-arrow-right"></span> Siguiente</button>
                                    </div>
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        &nbsp;
                                    </div>
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        <button type="button" id="btnCancelar_c" class="btn btn-secondary"><span class="fa fa-ban"></span> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Cap" role="tabpanel" aria-labelledby="Cap-tab">
                        <div class="table-responsive">
                            <div class="form-group col-md-8">
                            </div>
                            <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                                <tr>
                                    <td width="230px" rowspan="4">
                                        <div class="form-group col-md-6 text-lg-right">
                                            <img src="~/Content/images/img_a.jpg" width="250" height="300" class="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">ME</label>
                                            <div class="form-inline">
                                                <input id="txtErrorComb" data-id="4" type="text" placeholder="ME" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:8%; height:8%;">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">California Bearing Ratio (CBR)</label>
                                            <div class="form-inline">
                                                <input id="txtModResilencia" data-id="1" type="text" placeholder="California Bearing Ratio (CBR" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:8%; height:8%;">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">California Bearing Ratio (CBR)</label>
                                            <div class="form-inline">
                                                <input id="txtModResilencia" data-id="1" type="text" placeholder="California Bearing Ratio (CBR)" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:8%; height:8%;">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">California Bearing Ratio (CBR)</label>
                                            <div class="form-inline">
                                                <input id="txtModResilencia" data-id="1" type="text" placeholder="California Bearing Ratio (CBR)" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:8%; height:8%;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Módulo de Rotura PSI</label>
                                            <div class="form-inline">
                                                <input id="txtModResilencia" data-id="1" type="text" placeholder="Módulo de Rotura PSI" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:8%; height:8%;">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">&nbsp;&nbsp;&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="text-center">
                                            <img src="~/Content/images/img_b.jpg">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">&nbsp;&nbsp;&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">N18 Nominal</label>
                                            <div class="form-inline">
                                                <input id="txtModResilencia" data-id="1" type="text" placeholder="N18 Nominal" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <img src="~/Content/icon/equal.png" style="width:10%; height:10%;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">N18 Calculado</label>
                                            <input id="txtModResilencia" data-id="1" type="text" placeholder="N18 Calculado" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">S/N Requerido</label>
                                            <input id="txtModResilencia" data-id="1" type="text" placeholder="S/N Requerido" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <div class="form-inline">
                                                <input id="txtModResilencia" data-id="1" type="text" placeholder="" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <img src="~/Content/icon/equal.png" style="width:10%; height:10%;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <input id="txtModResilencia" data-id="1" type="text" placeholder="" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header">
                            <div class=" clearfix">
                                <div class="p-0">
                                    <div class="btn-group float-left" role="group" aria-label="Basic example">
                                    </div>
                                </div>
                                <div class="p-0">
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        <button type="button" id="btnSiguiente_c" class="btn btn-primary"><span class="icon-page"></span> Siguiente</button>
                                    </div>
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        &nbsp;
                                    </div>
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        <button type="button" id="btnCancelar_c" class="btn btn-secondary"><span class="icon-page"></span> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Param" role="tabpanel" aria-labelledby="Param-tab">
                        <div class="table-responsive">
                            <div class="form-group col-md-8">
                            </div>
                            <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                                <tr>
                                    <td width="200px">
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficientes Estructuras de Capas</label>
                                        </div>
                                    </td>
                                    <td width="200px">&nbsp;</td>
                                    <td width="200px">
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficientes Drenaje de Capas</label>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Concreto Asfáltico Conv.</label>
                                            <div class="form-inline">
                                                <input id="txtErrorComb" data-id="4" type="text" placeholder="Concreto Asfáltico Convencional" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:10%; height:10%;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Base Granular (m2)</label>
                                            <div class="form-inline">
                                                <input id="txtErrorComb" data-id="4" type="text" placeholder="Base Granular (m2)" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:11%; height:11%;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Base Granular (a2)</label>
                                            <div class="form-inline">
                                                <input id="txtErrorComb" data-id="4" type="text" placeholder="Base Granular (a2)" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:10%; height:10%;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Sub-base (m3)</label>
                                            <div class="form-inline">
                                                <input id="txtErrorComb" data-id="4" type="text" placeholder="Sub-base (m3)" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:11%; height:11%;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Sub-base (m3)</label>
                                            <div class="form-inline">
                                                <input id="txtErrorComb" data-id="4" type="text" placeholder="Sub-base (m3)" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/Help_img_6.png" style="width:10%; height:10%;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">S/N PROPUESTO</label>
                                            <div class="form-inline">
                                                <input id="txtErrorComb" data-id="4" type="text" placeholder="S/N PROPUESTO" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                                                <img src="~/Content/icon/" style="width:10%; height:10%;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">S/N REQUERIDO</label>
                                            <input id="txtErrorComb" data-id="4" type="text" placeholder="S/N REQUERIDO" class="column_filter mr-1 col-sm-10 form-control form-control-sm">
                                        </div>
                                    </td>
                                    <td width="260px" rowspan="3" colspan="2">
                                        <div class="text-left">
                                            <img src="~/Content/images/img_c.jpg" width="270" height="180">
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="210px" rowspan="4">
                                        <div class="form-group col-md-6 text-lg-right">
                                            <img src="~/Content/images/img_a.jpg" width="220" height="300" class="">
                                        </div>
                                    <td>
                                        <div class="form-group col-md-12 text-md-center">
                                            <input id="txtErrorComb" data-id="4" type="text" placeholder="" class="column_filter mr-1 col-sm-10 form-control form-control-sm">
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12 text-md-center">
                                            <input id="txtErrorComb" data-id="4" type="text" placeholder="" class="column_filter mr-1 col-sm-10 form-control form-control-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">SN Req.</label>
                                            <input id="txtErrorComb" data-id="4" type="text" placeholder="SN Requerido" class="column_filter mr-1 col-sm-10 form-control form-control-sm">
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12 text-md-center">
                                            <input id="txtErrorComb" data-id="4" type="text" placeholder="" class="column_filter mr-1 col-sm-10 form-control form-control-sm">
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group col-md-12 text-md-center">
                                            <input id="txtErrorComb" data-id="4" type="text" placeholder="" class="column_filter mr-1 col-sm-10 form-control form-control-sm">
                                        </div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header">
                            <div class=" clearfix">
                                <div class="p-0">
                                    <div class="btn-group float-left" role="group" aria-label="Basic example">
                                    </div>
                                </div>
                                <div class="p-0">
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        <button type="button" id="btnSiguiente_c" class="btn btn-primary"><span class="icon-page"></span> Siguiente</button>
                                    </div>
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        &nbsp;
                                    </div>
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        <button type="button" id="btnCancelar_c" class="btn btn-secondary"><span class="icon-page"></span> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal-->
        <!-- ESAL-->
        <div class="modal fade" id="EsalModal" tabindex="-1" role="dialog" aria-labelledby="EsalModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:650px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ESAL</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                                <tr>
                                    <td colspan="4">
                                        <p align="justify">
                                            Cantidad de repeticiones del eje de carga de 8,2 tn para un periodo de diseño.
                                            Es decir, número que representa el volumen de tránsito del carril de diseño. Se calcula a partir del IMD.
                                        </p>
                                    </td>
                                    @*<td></td>
                                    <td></td>
                                    <td></td>*@
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/param_esal_1.jpg" style="width:100%; height:70%;" />
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td><img src="~/Content/images/param_esal_2.jpg" style="width:100%; height:70%;" /></td>
                                </tr>
                                @*<tr>
                                    <td>

                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>*@
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONFIABILIDAD-->
        <div class="modal fade" id="ConfiabilidadModal" tabindex="-1" role="dialog" aria-labelledby="ConfiabilidadModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:650px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">INDICE DE CONFIANZA (R%) </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                                <tr>
                                    <td colspan="4">
                                        <p align="justify">
                                            Probabilidad de que el pavimento diseñado se comporte de manera satisfactoria
                                            durante el periodo de diseño.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESILENCIA-->
        <div class="modal fade" id="ResilenciaModal" tabindex="-1" role="dialog" aria-labelledby="ResilenciaModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:650px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">MODULO DE RESILENCIA (MR)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                                <tr>
                                    <td colspan="4">
                                        <p align="justify">
                                            Es el índice que describe la relación no lineal de esfuerzos - deformaciones
                                            de los suelos bajo carga repetida.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- SERVICIALIDAD INICIAL-->
        <div class="modal fade" id="ServInicialModal" tabindex="-1" role="dialog" aria-labelledby="ServInicialModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:650px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">INDICE DE SERVICIALIDAD INICIAL (Pi)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                                <tr>
                                    <td colspan="2">
                                        <p align="justify">
                                            Condición original del pavimento inmediatamente después de su construcción o rehabilitación.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            Pavimentos Flexibles 4.2&nbsp;&nbsp;&nbsp;
                                        </p>
                                        <p>
                                            Pavimentos Rígidos 4.5&nbsp;&nbsp;&nbsp;
                                        </p>
                                    </td>
                                    <td align="right">
                                        <img src="~/Content/images/param_esal_3.jpg" style="width:80%; height:70%;" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- SERVICIALIDAD FINAL-->
        <div class="modal fade" id="ServFinalModal" tabindex="-1" role="dialog" aria-labelledby="ServFinalModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:650px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">INDICE DE SERVICIALIDAD FINAL (Pt)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                                <tr>
                                    <td colspan="4">
                                        <p align="justify">
                                            Condición en la cual el pavimento no cumple con las expectativas de comodidad
                                            y seguridad exigidas por el usuario.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- DIFERENCIA DE SERVICIALIDAD-->
        <div class="modal fade" id="DifServModal" tabindex="-1" role="dialog" aria-labelledby="DifServModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:650px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">INDICE DE SERVICIALIDAD INICIAL (∆PSI) </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                                <tr>
                                    <td>
                                        <img src="~/Content/images/param_esal_4.jpg" style="width:100%; height:70%;" />
                                    </td>
                                    <td align="right">
                                        <img src="~/Content/images/param_esal_5.jpg" style="width:90%; height:60%;" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- EVALUA RESILENCIA SUBRASANTE-->
        <div class="modal fade" id="EvaluaResilenciaModal" tabindex="-1" role="dialog" aria-labelledby="EvaluaResilenciaModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:650px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">MÓDULO DE RESILENCIA </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                                <tr>
                                    <td align="left">
                                        <b>
                                            <label>CBR (SUBRASANTE) :</label>
                                        </b>                                        
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <label>Colocar el CBR (%) </label>
                                    </td>
                                    <td>
                                        <input id="txtCBR" type="text" placeholder="CBR" class="mr-3 col-sm-6 form-control form-control-sm input-number">
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <b>
                                            <label>Cálculo de MR (Subrasante) :</label>
                                        </b>                                        
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="left" style="color:#FF0000">
                                        <label>MR(psi) = 2,555*CBR^0.64 </label>
                                    </td>
                                    <td>
                                        <input id="txtMR" type="text" placeholder="MR" readonly="readonly" class="mr-3 col-sm-10 form-control form-control-sm">
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <p align="justify">
                                            * El cálculo se está realizando en base al CBR de la Subrasante.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCalcularMR" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>




<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">

    $(document).ready(function () {


        $("#txtConfiab").keypress(function (e)
        {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            {
                strConf = document.getElementById("txtConfiab").value; 

                if (strConf == '') {
                    toastr.error("Ingrese Confiabilidad!", 'ERROR', { timeOut: 2000 });
                    return;
                }


                $.ajax
                ({
                    method: 'POST',
                    url: '/Parametros/CalcularDesviacionEstandar',
                    data: { 'ValorConfiabilidad': strConf },
                    success: function (respuesta) {

                        //alert(respuesta);

                        document.getElementById("txtDesvEstandar").value = respuesta;
                    },
                    error: function (xhr, status) {
                        alert("PLOP");
                    }

                });
            }
        });


        $("#txtServInicial").keypress(function (e)
        {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            {
                DiferenciaServicialidad();
            }
        });

        $("#txtServFinal").keypress(function (e)
        {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            {
                DiferenciaServicialidad();
            }
        });

        
        $("#btnEvaluaResilencia").click( function()
        {                 
            document.getElementById("txtCBR").value = '';
            document.getElementById("txtMR").value = '';
            document.getElementById("txtModResilenciaSub").value = '';
        });

        $("#btnCalcularMR").click( function()
        {                 
            document.getElementById("txtModResilenciaSub").value = document.getElementById("txtMR").value;
            $("#EvaluaResilenciaModal .close").click();
        });

        $("#txtCBR").keypress(function (e)
        {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            {
                strCBR = document.getElementById("txtCBR").value; 

                $.ajax
                ({
                    method: 'POST',
                    url: '/Parametros/CalcularResilenciaASF',
                    data: { 'CBR': strCBR },
                    success: function (respuesta) {

                        //alert(respuesta);

                        document.getElementById("txtMR").value = respuesta;
                    },
                    error: function (xhr, status) {
                        alert("PLOP");
                    }

                });
            }
        });


        $('.input-number').on('input', function () { 
            this.value = this.value.replace(/[^0-9]/g,'');
        });

    });

    function DiferenciaServicialidad()
    {
        strServInicial = document.getElementById("txtServInicial").value; 
        strServFinal = document.getElementById("txtServFinal").value; 

        if (strServInicial == '') {
            toastr.error("Ingrese Servicialidad Inicial!", 'ERROR', { timeOut: 2000 });
            return;
        }

        if (strServFinal == '') {
            toastr.error("Ingrese Servicialidad Final!", 'ERROR', { timeOut: 2000 });
            return;
        }

        $.ajax
        ({
            method: 'POST',
            url: '/Parametros/CalcularDifServiciabilidad',
            data: { 'ServInicial': strServInicial,  'ServFinal': strServFinal},
            success: function (respuesta) {

                //alert(respuesta);

                document.getElementById("txtDifServ").value = respuesta;
            },
            error: function (xhr, status) {
                alert("PLOP");
            }

        });       
    }



</script>


