@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    //Layout = null;

    ViewBag.Title = "Proyecto";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Proyecto: </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblDiseno" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="align-center;" id="id">IdProyecto</th>
                            <th class="align-center;" id="CodProyecto">NumDiseno</th>
                            <th class="align-center;" id="FecProyecto">Fecha</th>
                            <th class="align-center;" id="idTipDiseno">Estado</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="align-center;" id="id">IdProyecto</th>
                            <th class="align-center;" id="CodProyecto">NumDiseno</th>
                            <th class="align-center;" id="FecProyecto">Fecha</th>
                            <th class="align-center;" id="idTipDiseno">Estado</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <div class="card">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Parámetros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Opciones 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Opciones 2</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Parámetros de Diseño: </h3>
                </div>
                <div>
                    <div class="accordion" id="accordionExample">
                        <div>
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <i class="icon-bill"></i>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Periodo de Diseño
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card">
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group row">
                                                <label for="exampleFormControlSelect1">Seleccione Años</label>
                                                <div class="col-sm-3">
                                                    <select name="account" class="form-control form-control-sm" id="exampleFormControlSelect1">
                                                        <option>10</option>
                                                        <option>20</option>
                                                        <option>30</option>
                                                        <option>40</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <i class="icon-check"></i>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Cantidad de ESAL
                                    </button>
                                    <img src="~/Content/icon/Help_img_6.png" style="width:3%; height:3%;">
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    ABC
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <i class="icon-padnote"></i>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Confiabilidad (R%)
                                    </button>
                                    <img src="~/Content/icon/Help_img_6.png" style="width:3%; height:3%;">
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    ABC
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <i class="icon-close"></i>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Error de Combinación Estándar (So)
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    ABC
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <i class="icon-form"></i>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Módulo de Resilencia (SUBRASANTE)
                                    </button>
                                    <img src="~/Content/icon/Help_img_6.png" style="width:3%; height:3%;">
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    ABC
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card-header" id="headingSix">
                                <h2 class="mb-0">
                                    <i class="icon-interface-windows"></i>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Serviciabilidad Inicial (Pi)
                                    </button>
                                    <img src="~/Content/icon/Help_img_6.png" style="width:3%; height:3%;">
                                </h2>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body">
                                    ABC
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card-header" id="headingSeven">
                                <h2 class="mb-0">
                                    <i class="icon-list"></i>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Serviciabilidad Final (Pt)
                                    </button>
                                    <img src="~/Content/icon/Help_img_6.png" style="width:3%; height:3%;">
                                </h2>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                <div class="card-body">
                                    ABC
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card-header" id="headingEight">
                                <h2 class="mb-0">
                                    <i class="icon-list-1"></i>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        Diferencia de Serviciabilidad (∆PSI)
                                    </button>
                                    <img src="~/Content/icon/Help_img_6.png" style="width:3%; height:3%;">
                                </h2>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                                <div class="card-body">
                                    ABC
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card-header" id="headingNine">
                                <h2 class="mb-0">
                                    <i class="icon-website"></i>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        Desviación Estándar Normal (ZR)
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                <div class="card-body">
                                    ABC
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>


            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div>




    </div>


    <!-- Modal-->

    <div class="modal fade" id="exampleModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Proyecto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>                                <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnNuevo" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#tblDiseno tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');
        });




        var table =
            $('#tblDiseno').DataTable({
                "ajax": {
                    "url": "/Diseno/ListarDisenos",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "idProyecto" },
                    { "data": "NumeroDiseno" },
                    { "data": "Fecha" },
                    { "data": "Estado" }
                ],

                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });



        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change clear', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });



        var dato = "";
        var datos = "";

        //para seleccionar una opcion
        $('#tblDiseno tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                dato = "";
                datos = "";
                alert(dato);
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                dato = $(this).find("td:eq(0)").text();
                datos = $(this).find("td:eq(1)").text();
                alert(dato + ' - ' + datos);
            }
        });



    });

</script>
